@model CourseWork.Models.TracksPlaylists

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TracksPlaylists</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tracksId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tracksId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.playlists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.playlists.name)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tracks)
            @*@Html.DisplayNameFor(model => model.StopId)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tracksId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.playlists)
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0} - {1}", Model.playlists.name, Model.playlists.username)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
