@model CourseWork.Models.TracksPlaylists

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TracksPlaylists</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tracks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tracksId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.playlists)
        </dt>
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.playlists.name)
        </dd>*@
        <dd class="col-sm-10">
            @string.Format("{0} - {1}", Model.playlists.name, Model.playlists.username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
